.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;

    inline-size: 80%;
    max-inline-size: 32rem;
    min-height: 100vh;

    margin: 0 auto;

    .contact {
        &__form {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            inline-size: 100%;

            .button {
                background-color: transparent;
                color: var(--secondary-color);
                opacity: 0.6;

                padding: 0.6rem 0;

                border: 0.1rem solid var(--secondary-color);
                border-radius: var(--border-radius-card);

                font-size: 1rem;

                transition: opacity 300ms ease;

                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &__title {
            padding: 2rem 0;

            font-size: 2.5rem;

            text-align: center;
        }

        &__group {
            opacity: 0.5;

            position: relative;

            transition: opacity 300ms ease;

            &:hover {
                opacity: 1;

                label {
                    inset-inline-start: 5.5rem;
                }
            }

            label {
                background-color: var(--secondary-section);
                color: var(--primary-text-color);

                position: absolute;
                inset-block-start: -0.5rem;
                inset-inline-start: 50%;

                padding: 0 0.5rem;

                transform: translateX(50%);

                font-size: var(--smaller-font-size);
                font-weight: 700;

                transition: inset-inline-start 300ms ease;
            }

            input {
                background-color: transparent;
                color: var(--primary-text-color);

                block-size: 100%;
                inline-size: 100%;

                padding: 1rem 2rem;

                border: 0.2rem solid var(--primary-text-color);
                border-radius: var(--border-radius-card);

                font-size: 1.2rem;

                &::placeholder {
                    color: var(--primary-text-color);
                }

                &:valid {
                    ~ label {
                        inset-inline-start: 5.5rem;
                    }

                    ~ i {
                        opacity: 1;

                        transform: translate(0);
                    }
                }
            }

            &-icon {
                background-color: var(--secondary-section);
                color: var(--primary-text-color);
                opacity: 0;

                position: absolute;
                inset-block-start: -0.5rem;
                inset-inline-end: 1rem;

                padding: 0 0.5rem;

                transform: translateX(-3rem);

                transition: transform 300ms cubic-bezier(0.39, 0.32, 0.45, 1.49);
            }
        }

        &__buttons {
            display: flex;
            gap: 1rem;

            > .button {
                flex: 1;

                &.active {
                    flex: 2;

                    background-color: var(--secondary-color);
                    color: var(--secondary-section);

                    font-size: 1.6rem;
                }
            }
        }
    }

    app-result-message {
        inline-size: 100%;
    }
}
