<div class="wrapper">
    <form class="contact__form">
        <h1 class="contact__title">{{ isLogin ? 'ورود به سایت' : 'عضویت در سایت' }}</h1>
        <div class="contact__group" *ngIf="!isLogin">
            <input class="contact__input" type="text" id="name" placeholder="اسم خود را وارد کنید" required />
            <label for="name">اسم</label>
            <i class="far fa-check-circle contact__group-icon"></i>
        </div>
        <div class="contact__group">
            <input class="contact__input" type="email" id="email" placeholder="ایمیل خود را وارد کنید" required />
            <i class="far fa-check-circle contact__group-icon"></i>
            <label for="email">ایمیل</label>
        </div>
        <div class="contact__group">
            <input class="contact__input" type="password" id="password" placeholder="رمز خود را وارد کنید" required />
            <i class="far fa-check-circle contact__group-icon"></i>
            <label for="password">رمز عبور</label>
        </div>
        <div class="contact__group" *ngIf="!isLogin">
            <input
                class="contact__input"
                type="tel"
                pattern="(\+989|00989|09)(\d{9})"
                id="number"
                placeholder="شماره خود را وارد کنید"
                required
            />
            <i class="far fa-check-circle contact__group-icon"></i>
            <label for="number">شماره همراه</label>
        </div>
        <div class="contact__buttons">
            <button type="submit" class="button active">
                {{ isLogin ? 'ورود' : 'عضویت' }}
            </button>
            <button type="submit" class="button" (click)="changeIsLogin()">
                {{ !isLogin ? 'میخوای وارد شی؟' : 'میخوای عضو شی؟' }}
            </button>
        </div>
    </form>
</div>
