.wrapper {
    background-color: var(--card-color);
    color: var(--primary-text-color);

    inline-size: 100%;

    border-radius: var(--border-radius-card);

    transition: transform 300ms;

    cursor: pointer;
}

.wrapper:hover {
    transform: scale(1.05, 1.05);
}

.wrapper img {
    inline-size: 100%;
    block-size: var(--img-height);

    border-radius: var(--border-radius-card) var(--border-radius-card) 0 0;
}

.bottom-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 0.75rem;
}

.bottom-cart div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    inline-size: 6.25rem;
    block-size: 100%;
}

.bottom-cart div:first-child {
    inline-size: 2.5rem;
}

.old-price {
    color: var(--secondary-text-color);

    font-size: 0.875rem;

    text-decoration: line-through;
}

.new-price {
    color: var(--secondary-color);

    font-weight: 600;
}
