.wrapper {
  color: hsl(0, 0%, 100%);
  font-family: "Shabnam", sans-serif;
  background-color: hsl(0, 0%, 17%);
  width: 20vw;
  height: 13rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: all 0.5s;
}

.wrapper:hover {
  transform: scale(1.05, 1.05);
}

.wrapper img {
  width: 100%;
  height: 83%;
  border-radius: 0.3125rem 0.3125rem 0 0;
}

.bottom_cart {
  height: 15%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.3125rem;
  align-items: center;
}

.bottom_cart div {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100px;
  align-items: center;
}

.bottom_cart div:first-child {
  width: 2.5rem;
}

.old-price {
  text-decoration: line-through;
  color: hsl(0, 0%, 55%);
}

.new-price {
  color: hsl(36, 100%, 50%);
}
