.icon-container{
  width: 3rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 0.25rem;
  background-color: #1E1E2A;
  i{
    width: 20px;
    height: 20px;
    text-align: center;
  }
}