.icon-container {
    display: grid;
    place-items: center;

    block-size: 2rem;
    inline-size: 2.5rem;

    border-radius: var(--border-radius-card);

    transition: transform 300ms ease;

    cursor: pointer;

    &:hover {
        transform: scale(1.03);
    }

    i {
        display: grid;
        place-items: center;

        block-size: 1.25rem;
        inline-size: 1.25rem;

        text-align: center;
    }

    &.green {
        color: var(--clr-icon-green);

        border: 2px solid var(--clr-icon-green);
    }

    &.orange {
        color: var(--clr-icon-orange);

        border: 2px solid var(--clr-icon-orange);
    }

    &.white {
        color: var(--clr-icon-white);

        border: 2px solid var(--clr-icon-white);
    }

    &.gray {
        color: var(--clr-icon-gray);
        border: 2px solid var(--clr-icon-gray);
    }


    &.no-bg {
        background-color: transparent;

        block-size: auto;
        inline-size: auto;

        border: none;
    }
}
