.icon-container {
    display: grid;
    place-items: center;

    width: 2.5rem;
    height: 2rem;

    border-radius: 0.25rem;

    transition: transform 300ms ease;

    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    i {
        display: grid;
        place-items: center;

        width: 1.25rem;
        height: 1.25rem;

        text-align: center;
    }

    &.green {
        color: var(--clr-icon-green);

        border: 2px solid var(--clr-icon-green);
    }

    &.orange {
        color: var(--clr-icon-orange);

        border: 2px solid var(--clr-icon-orange);
    }

    &.white {
        color: var(--clr-icon-white);

        border: 2px solid var(--clr-icon-white);
    }

    &.no-bg {
        background-color: transparent;

        width: auto;
        height: auto;

        border: none;
    }
}
