<footer>
    <div class="wrapper">
        <div>
            <span>021-12345678</span>
            <i class="fa-solid fa-phone"></i>
        </div>
        <div class="social-media">
            <span>سی تو در شبکه های اجتماعی</span>
            <a href="#"><i class="fa-brands fa-telegram"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
    <div class="copyright">
        <img src="assets/images/logo.webp" alt="لوگو فروشگاه" />
        <span>استفاده از تمامی مطالب، تصاویر و محتوای سایت بدون ذکر منبع حرام و دارای پیگرد قانونی میباشد</span>
        <span>Copyright © 2022 seeto.ir</span>
    </div>
</footer>
