<footer>
    <hr />
    <div class="copyright">
        <div class="social-media">
            <a href="#" title="Telegram"><i class="fa-brands fa-telegram"></i></a>
            <a href="#" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" title="Youtube"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <span>استفاده از تمامی مطالب، تصاویر و محتوای سایت بدون ذکر منبع حرام و دارای پیگرد قانونی میباشد</span>
        <span>Copyright © 2022 digigame.ir</span>
    </div>
</footer>
