footer {
    color: hsl(0, 0%, 100%);
}

.copyright,
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.copyright {
    border-top: 0.0625rem solid hsl(0, 0%, 100%);
}

.copyright span {
    font-size: 0.7rem;
    opacity: 0.8;
}

.wrapper div * {
    padding: 0 0.125rem;
}

img {
    width: 10rem;
}

.social-media {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}
