footer {
    color: hsl(0deg 0% 100%);

    .copyright,
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 1rem 0;
    }

    .wrapper {
        .social-media {
            display: flex;
            align-items: center;
            gap: 0.6rem;
        }

        img {
            inline-size: 10rem;
        }
    }

    .copyright {
        span {
            opacity: 0.8;

            font-size: 0.7rem;
        }

        div * {
            padding: 0 0.125rem;
        }
    }
}
