<div class="game-slider">
    <div class="game-slider_container">
        <h2>the witcher</h2>
        <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون
            بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی بردی می باشد،ا نرم فرهود در ارائه
            رهاگیرد. فهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
            سطرآنچنان که لازم است، و برای شرایط فعلی بردی می باشد،ا نرم فرهود در ارائه رهاگیرد
        </p>
        <a class="button">خرید بازی</a>
    </div>
    <img src="assets/images/Witcher.jpg" alt="بازی" />
    <div class="game-slider_dots">
        <div class="active">&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
    </div>
</div>
