<div class="wrapper">
    <div class="container">
        <div class="container-right">
            <a routerLink="/">
                <img src="assets/images/logo.webp" />
            </a>
        </div>

        <div class="container-left">
            <app-search-box (searchPhraseEnter)="submitSearchPhrase($event)"></app-search-box>
            <div class="icons" *ngIf="isLoggedIn">
                <app-icon [iconClass]="IconType.WISH_LIST" [iconColor]="IconColor.ORANGE"></app-icon>
                <app-icon [iconClass]="IconType.SHOP" [iconColor]="IconColor.ORANGE"></app-icon>
            </div>

            <ng-container *ngIf="isLoggedIn; else notLoggedInTemplate">
                <a routerLink="/profile" class="auth"> پروفایل </a>
            </ng-container>
            <ng-template #notLoggedInTemplate>
                <a routerLink="/auth" class="auth">
                    <span>ورود</span>
                    /
                    <span>ثبت نام</span>
                </a>
            </ng-template>
        </div>
    </div>
</div>
