.first-navbar {
    background-color: var(--nav-bg);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        inline-size: 100%;

        padding-block-start: 1rem;
        padding-block-end: 1rem;

        .logo-container {
            flex: 0 0 50%;

            display: flex;
            align-items: center;
            gap: 1rem;

            p {
                font-size: 0.75rem;
            }
        }

        app-search-box {
            flex: 0 0 50%;

            inline-size: 100%;
        }
    }
}
