.input-box {
    --input-color: hsla(36, 100%, 50%, 0.3);
    max-width: 27rem;
    width: 100%;
    margin-right: auto;
    position: relative;
    i {
        color: var(--input-color);
        position: absolute;
        inset-block-start:50%;
        inset-inline-start:1rem;
        transform: translate(0, -50%);
        font-size: 1.125rem;
    }
    input {
        width: 100%;
        background-color: transparent;
        padding: 0.5rem 2.5rem 0.5rem 0.75rem;
        border-radius: 0.75rem;
        color: var(--input-color);
        border: 0.125rem solid var(--input-color);
        font-size: 1.25rem;
        &::placeholder {
            color: hsla(36, 100%, 50%, 0.3);
        }
        &:focus {
            --input-color: hsla(36, 100%, 50%, 0.8);
            outline: none;
            border: none;
            border-radius: 0;
            border-bottom: 0.125rem solid var(--input-color);
        }
    }
}
