.input-box{
  --input-color: hsl(210, 27%, 49%);
  max-width: 27rem;
  width: 100%;
  margin-right: auto;
  position: relative;
  i{
    color: var(--input-color);
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
    font-size: 1.125rem;
  }
  input{
    width: 100%;
    background-color: transparent;
    padding: 0.5rem 2.5rem 0.5rem 0.75rem;
    border-radius: 0.75rem;
    color: hsl(0, 0%, 100%);
    border: 2px solid var(--input-color);
    font-size: 1.25rem;
    &::placeholder{
      color: var(--input-color);
      font-style:  var(--primary-font);
    }
    &:focus{
      outline: none;
    }
  }
}