.wrapper {
    --more-btn-padding: 4rem;
    display: flex;
    flex-direction: column;

    .slider {
        overflow-x: hidden;

        display: flex;
        gap: 2.5rem;

        app-slider-card {
            flex: 0 0 19rem;
            width: 19rem;
        }
    }

    .buttons {
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        justify-content: space-between;

        padding: 1rem 2rem 0;

        cursor: pointer;

        app-more-button {
            margin-inline-start: var(--more-btn-padding);
        }

        &-controls {
            display: flex;
            gap: 2rem;

            button {
                color: var(--clr-gray-95);
                opacity: 0.8;
                background: none;
                border: none;
                border-radius: var(--border-radius-card);

                font-size: 1.6rem;

                transition: opacity 300ms ease;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &.reverse {
        .slider {
            flex-flow: row-reverse;
        }

        .buttons {
            flex-flow: row;

            app-more-button {
                margin-inline-end: var(--more-btn-padding);
            }
        }
    }
}

@media (max-width: 500px) {
    .wrapper {
        .slider {
            app-slider-card {
                flex: 0 0 15rem;
                width: 15rem;
            }
        }
        .buttons {
            //display: flex;
            //align-items: center;

            //justify-content: space-between;
            //gap: 1rem;
            gap: 1rem;
            padding: 1rem 0 0 0;
            flex-direction: column;
            flex-flow: column !important;
            app-more-button {
                margin: 0 !important;
            }

            cursor: pointer;

            app-more-button {
                margin-inline-start: var(--more-btn-padding);
            }
        }
    }
}
