.wrapper {
    --more-btn-padding: 4rem;
    display: flex;
    flex-direction: column;

    .slider {
        overflow-x: hidden;

        display: flex;
        gap: 2.5rem;

        app-slider-card {
            flex: 0 0 19rem;
        }
    }

    .buttons {
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        justify-content: space-between;

        padding: 1rem 2rem 0;

        cursor: pointer;

        app-more-button {
            margin-inline-start: var(--more-btn-padding);
        }

        &-controls {
            display: flex;
            gap: 1rem;

            button {
                background-color: var(--clr-gray-70);
                color: var(--clr-gray-5);
                opacity: 0.8;

                block-size: 2rem;
                inline-size: 2rem;

                border: 1px solid var(--clr-gray-5);
                border-radius: var(--border-radius-card);

                font-size: 1.6rem;

                transition: opacity 300ms ease;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &.reverse {
        .slider {
            flex-flow: row-reverse;
        }

        .buttons {
            flex-flow: row;

            app-more-button {
                margin-inline-end: var(--more-btn-padding);
            }
        }
    }
}
