<div class="wrapper" [class.reverse]="isReverse" *ngIf="cards && cards.length > 0">
    <div class="slider" #slider>
        <app-slider-card *ngFor="let card of cards" [product]="card"></app-slider-card>
    </div>
    <div class="buttons">
        <app-more-button (btnClick)="searchPageWithParams()" [isReverse]="isReverse"></app-more-button>
        <div class="buttons-controls">
            <button class="right" (click)="scrollToLeft()">
                <i class="fa-solid fa-caret-right"></i>
            </button>
            <button class="left" (click)="scrollToRight()">
                <i class="fa-solid fa-caret-left"></i>
            </button>
        </div>
    </div>
</div>
