<app-header></app-header>
<div class="container profile-container">
    <div>
        <img class="object-fit-cover" [src]="profileCover | sliderImageConverter | pickBestImage" alt="big cover" />
        <img class="object-fit-contain" [src]="profileCover | sliderImageConverter | pickBestImage" alt="big cover" />
        <div>
            <img src="assets/images/avatar.webp" alt="avatar" />
            <div>
                <h2>{{ this.profileService?.user?.firstName }} {{ this.profileService?.user?.lastName }}</h2>
                <h3>{{ this.profileService?.user?.username }}</h3>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <aside>
            <div>
                <img src="assets/images/avatar.webp" alt="avatar" />
                <h2>{{ this.profileService?.user?.username }}</h2>
                <div>
                    <div class="info">
                        <span>نام </span>
                        <span
                            >{{ this.profileService?.user?.firstName || '_' }}
                            {{ this.profileService?.user?.lastName }}</span
                        >
                    </div>
                    <div class="info">
                        <span>ایمیل </span>
                        <span>{{ this.profileService?.user?.email || '_' }}</span>
                    </div>
                    <div class="info">
                        <span>تلفن </span>
                        <span>{{ this.profileService?.user?.phone || '_' }}</span>
                    </div>
                    <div class="info">
                        <span>تاریخ تولد </span>
                        <span>{{ this.profileService?.user?.dateOfBirth || '_' }}</span>
                    </div>
                    <button routerLink="edit" routerLinkActive="is-active">
                        ویرایش پروفایل <i class="fas fa-edit"></i>
                    </button>
                    <button routerLink="wish-list" routerLinkActive="is-active">
                        لیست خرید <i class="fas fa-cart-shopping"></i>
                    </button>
                    <button routerLink="favorites" routerLinkActive="is-active" class="heartbtn">
                        علاقه‌مندی‌ها <i class="fas fa-star"></i>
                    </button>
                </div>
            </div>
        </aside>
        <main>
            <router-outlet></router-outlet>
            <!--            <app-favorites *ngIf="cards && situation === 'favorites'" [cards]="cards"></app-favorites>-->
            <!--            <app-edit-profile *ngIf="situation === 'editProfile'"></app-edit-profile>-->
            <!--            <app-wish-list *ngIf="situation === 'wishList'"></app-wish-list>-->
        </main>
    </div>
</div>
<app-footer></app-footer>
