.primary-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    margin-block-end: 1rem;

    font-size: 1.1rem;

    &.right {
        justify-content: flex-start;
    }

    &.left {
        justify-content: flex-end;
    }
}

.underline {
    background-color: var(--primary-text-color);

    width: 2rem;
    height: 0.1rem;
}
