.primary-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    margin-block-end: 2rem;

    font-size: 1.3rem;
}

.underline {
    background-color: var(--primary-text-color);

    width: 4rem;
    height: 0.1rem;
}
