.wrapper {
    direction: ltr;

    padding-left: 0.5rem;

    border-left: 2px solid var(--clr-gray-60);

    h3 {
        text-transform: capitalize;
    }

    p {
        color: var(--clr-gray-70);

        font-size: 0.9rem;
    }
}
