.container-section {
    background-color: var(--clr-gray-15);

    position: relative;

    inline-size: calc(100vw - 4rem);

    margin: 0 auto 2rem;
    padding: 3rem 2rem;

    transform: skewY(-2deg);

    .skew-reverse {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        transform: skewY(2deg);
    }
}
