.big-container {
    background-color: var(--clr-gray-10);
    box-shadow: 0 8px 18px 1px hsl(0deg 0% 0% / 45%);

    max-inline-size: 87.5rem;

    margin-inline: auto;
}

app-loading{
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: 10;
}