.contain {
    color: hsl(0deg 0% 100%);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, max-content));
    justify-content: center;
    gap: 3rem;

    padding-block-end: 3rem;

    font-family: Shabnam, sans-serif;

    app-more-button {
        grid-column: 1;
    }
}
