<div class="section ">
    <app-primary-title primaryTitle="بازی ها"> </app-primary-title>
    <div class="contain">
        <app-card *ngFor="let card of cards" [product]="card" ></app-card>
        <!--    <app-card [oldprice]='60' [newprice]="46" [imageurl]="/../../../../assets/images/card2.avif"></app-card>-->
        <!--    <app-card [oldprice]='40' [newprice]="34" [imageurl]="/../../../../assets/images/card3.avif"></app-card>-->
        <!--    <app-card [oldprice]='28' [newprice]="20" [imageurl]="/../../../../assets/images/card4.avif"></app-card>-->
        <!--    <app-card [oldprice]='23' [newprice]="14" [imageurl]="/../../../../assets/images/card5.avif"></app-card>-->
        <!--    <app-card [oldprice]='90' [newprice]="78" [imageurl]="/../../../../assets/images/card6.avif"></app-card>-->
        <!--    <app-card [oldprice]='95' [newprice]="90" [imageurl]="/../../../../assets/images/card7.avif"></app-card>-->
        <!--    <app-card [oldprice]='76' [newprice]="63" [imageurl]="/../../../../assets/images/card8.avif"></app-card>-->
        <!--    <app-card [oldprice]='38' [newprice]="35" [imageurl]="/../../../../assets/images/card9.avif"></app-card>-->
    </div>
    <div class="more">
        <span>بیشتر </span>
        <i class="fa-solid fa-angles-left"></i>
    </div>
</div>