.contain {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 3rem;
    color: #fff;
    font-family: 'Shabnam', sans-serif;
    margin-top: 2rem;
}

.more {
  margin: 2rem 17% 0 0;
    cursor: pointer;
}