.wrapper {
    display: flex;
  flex-direction: column;
    gap: 0.5rem;
    border-radius: var(--border-radius-card);
    padding: 0.75rem 1rem;
    box-shadow: var(--box-shadow);
    background-color: var(--clr-gray-20);
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      .new-price{
        font-size: 1.4rem;
        color: var(--secondary-color);
      }
      .discount{
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        align-items: center;
        .percent{
          direction: ltr;
          padding: 0.3rem 0.3rem 0.1rem;
          color: var(--green-color);
          background-color: var(--clr-gray-15);
          font-size: 0.6rem;
          border-radius: var(--border-radius-card);
        }
        .old-price{
          font-size: 0.7rem;
          text-decoration: line-through;
        }
      }
    }
    .footer {
        padding: 0.6rem 2.2rem;
        border-radius: var(--border-radius-card);
        background-color: var(--secondary-color);
      font-size: 1.2rem;
        color: var(--clr-gray-5);
    }
}
