<div class="filters">
    <h2 class="title">فیلترها</h2>
    <div>
        <button class="action" (click)="actionBtnHandler()">اعمال فیلترها</button>
        <button class="remove" (click)="removeBtnHandler()" *ngIf="displayRemoveBtn">حذف فیلتر‌ها</button>
    </div>
    <app-expansion-list title="پلتفرم" [items]="gameService.platforms"></app-expansion-list>
    <app-expansion-list title="ژانر" [items]="gameService.genres"></app-expansion-list>
    <app-switch title="بازی‌های منتشرشده" [(value)]="gameService.onlyPublishedGames"></app-switch>
    <div class="wrapper-app-range">
        <h4>امتیاز</h4>
        <app-range title="حداقل" [(value)]="gameService.minimumRating"></app-range>
        <app-range title="حداکثر" [(value)]="gameService.maximumRating"></app-range>
    </div>
</div>
