.navbar {
    background-color: var(--nav-bg);
    padding: 0.75rem 0.25rem;
    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            gap: 2rem;
            li {
                a {
                    transition: color 0.3s ease;
                }
                &:hover {
                    a {
                        color: hsl(3, 86%, 58%);
                    }
                }
            }
        }
    }
    &-links {
        display: flex;
        gap: 1.5rem;
        a {
            transition: color 0.3s ease;
            &:hover {
                color: hsl(3, 86%, 58%);
            }
        }
    }
}
