<div class="navbar">
    <div class="container navbar-container">
        <ul>
            <li><a routerLink="/">خانه</a></li>
            <li><a routerLink="#">بازی ها</a></li>
            <li><a routerLink="#">پشتیبانی</a></li>
        </ul>

        <div class="navbar-links">
            <div class="icons">
                <app-icon [iconClass]="iconType.WISH_LIST"></app-icon>
                <app-icon [iconClass]="iconType.WISH_LIST"></app-icon>
            </div>

            <ng-container *ngIf="isLoggedIn; else notLoggedInTemplate">
                <a routerLink="/profile" class="auth"> پروفایل </a>
            </ng-container>
            <ng-template #notLoggedInTemplate>
                <a routerLink="/auth" class="auth">
                    <span>ورود</span>
                    /
                    <span>ثبت نام</span>
                </a>
            </ng-template>
        </div>
    </div>
</div>
