.navbar {
    background-color: var(--nav-bg);

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-top: 1.25rem;
        padding-bottom: 1.25rem;

        border-top: 0.0625rem solid hsl(0deg 2% 10%);

        ul {
            display: flex;
            gap: 2rem;

            li {
                a {
                    opacity: 0.7;

                    transition: opacity 300ms ease;
                }

                &:hover {
                    a {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &-links {
        display: flex;
        align-items: center;
        gap: 2.5rem;

        .icons {
            display: flex;
            gap: 0.5rem;
        }

        .auth {
            background-color: var(--secondary-section);
            color: var(--secondary-color);
            opacity: 0.8;

            display: flex;
            gap: 0.5rem;

            padding: 0.4rem 0.6rem;

            border: 1px solid var(--secondary-color);
            border-radius: var(--border-radius-card);

            transition: opacity 300ms ease;

            &:hover {
                opacity: 1;
            }
        }
    }
}
