.navbar{
  background-color: var(--nav-bg);
  padding: 1.5rem 0.25rem;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      gap: 2rem;
    }
  }
  &-links{
    display: flex;
    gap: 1.5rem;
  }
}
