<div class="navbar">
    <div class="container navbar-container">
        <ul>
            <li><a routerLink="#">خانه</a></li>
            <li><a routerLink="#">بازی ها</a></li>
            <li><a routerLink="#">پشتیبانی</a></li>
        </ul>
        <div class="navbar-links">
            <div class="icons">
                <app-icon iconClass="fa-light fa-heart"></app-icon>
                <app-icon iconClass="fa-light fa-cart-shopping"></app-icon>
            </div>
            <div class="auth">
                <a href="#">ورود</a>
                /
                <a href="#">ثبت نام</a>
            </div>
        </div>
    </div>
</div>
