.input-box {
    position: relative;

    inline-size: 100%;
    max-inline-size: 27rem;
    margin-inline: auto;
    border: none;

    i {
        color: var(--secondary-color);

        position: absolute;
        inset-block-start: 55%;
        inset-inline-start: 1rem;

        transform: translate(0, -50%);

        font-size: 1.25rem;
    }

    input {
        background-color: var(--clr-gray-30);
        color: var(--clr-gray-90);
        inline-size: 100%;
        outline: none;
        border: none;
        padding: 0.5rem 3rem 0.5rem 0.75rem;

        border-radius: var(--border-radius-card);

        font-size: 1.2rem;

        &::placeholder {
            color: var(--clr-gray-70);
        }
    }
}
