<swiper
    [slidesPerView]="1"
    [spaceBetween]="30"
    [keyboard]="{
        enabled: true
    }"
    [pagination]="{
        clickable: true
    }"
    [navigation]="true"
    class="mySwiper harchi"
>
    <ng-template swiperSlide> <img src="assets/images/slider1.jpg" alt="harchi" /> </ng-template
    ><ng-template swiperSlide> <img src="assets/images/slider2.jpg" alt="harchi" /></ng-template
    ><ng-template swiperSlide> <img src="assets/images/slider3.jpg" alt="harchi" /></ng-template>
</swiper>
