<swiper
    [slidesPerView]="1"
    [spaceBetween]="30"
    [keyboard]="{
        enabled: true
    }"
    [pagination]="{
        clickable: true
    }"
    [navigation]="true"
    class="mySwiper"
>
    <ng-template swiperSlide> <img src="assets/images/slider1.webp" alt="harchi" class="slider_item" /> </ng-template
    ><ng-template swiperSlide> <img src="assets/images/slider3.webp" alt="harchi" class="slider_item" /></ng-template>
    <ng-template swiperSlide> <img src="assets/images/slider4.webp" alt="harchi" class="slider_item" /></ng-template>
</swiper>
