<div class="slideshow" [style.--active-index]="activeIndex + 1">
    <ol>
        <li *ngIf="items[items.length - 1]"><img [src]="items[items.length - 1].artworks | sliderImageConverter" /></li>
        <li
            (click)="searchWithFilter(item.id)"
            *ngFor="let item of items; index as index"
            [class.active]="index === activeIndex"
        >
            <img [src]="item.artworks | sliderImageConverter" [alt]="item.name" />
        </li>
        <li *ngIf="items[0]"><img [src]="items[0].artworks | sliderImageConverter" /></li>
    </ol>

    <div class="controls">
        <button class="right" (click)="changeActiveIndex(activeIndex - 1)">
            <i class="fa-solid fa-angle-right"></i>
        </button>
        <button class="left" (click)="changeActiveIndex(activeIndex + 1)">
            <i class="fa-solid fa-angle-left"></i>
        </button>
    </div>

    <div class="bullets">
        <i
            *ngFor="let _ of items; index as index"
            [class.active]="index === activeIndex"
            (click)="activeWithClickBullet(index)"
        ></i>
    </div>
</div>
