.slideshow {
    background-color: var(--clr-gray-5);

    position: relative;
    overflow: hidden;

    block-size: 38rem;
    inline-size: 100%;
    aspect-ratio: 24 / 5;

    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3rem), 0 100%);

    ol {
        position: relative;

        display: flex;

        block-size: 85%;
        inline-size: 85%;

        margin: 0 auto;

        li {
            flex: 0 0 100%;

            inline-size: calc(100% - 2rem);

            padding: 0 1rem;

            transform: translateX(calc(var(--active-index) * 100%));

            transition: transform 400ms ease-in-out;

            img {
                block-size: 100%;
                inline-size: 100%;
                object-fit: cover;

                transform: scale(1, 0.7);

                transition: transform 500ms ease;
            }

            &.active {
                img {
                    transform: scale(1);
                }
            }
        }
    }

    .controls {
        button {
            background-color: hsl(0deg 0% 90% / 60%);
            opacity: 0.9;

            position: absolute;
            top: 35%;

            justify-content: center;

            block-size: 5rem;
            inline-size: 3rem;

            border: 2px solid var(--clr-gray-20);
            border-radius: var(--border-radius-card);

            transition: opacity 300ms ease;

            cursor: pointer;

            &.right {
                right: 2rem;
            }

            &.left {
                left: 2rem;
            }

            &:hover {
                opacity: 1;
            }

            i {
                color: var(--clr-gray-20);

                font-size: 2rem;
            }
        }
    }

    .bullets {
        position: absolute;
        bottom: 3rem;
        left: 20%;

        display: flex;
        gap: 1rem;

        transform: translateX(-50%);

        i {
            background-color: var(--clr-gray-20);

            display: block;

            block-size: 0.35rem;
            inline-size: 3rem;

            border-radius: var(--border-radius-card);

            font-size: 0.6rem;

            cursor: pointer;

            &.active {
                background-color: var(--clr-gray-80);
            }
        }
    }

    &:hover {
        .overlay .controls {
            opacity: 1;
        }
    }
}
