
.wrapper {
    color: var(--primary-text-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.75rem;

    width: 100%;
    height: 23rem;

    font-size: 1rem;
    border-radius: var(--border-radius-card);
    overflow: hidden;

    &::before {
        content: "";

        background-image: linear-gradient(to right, hsl(0deg 0% 0% / 0%), hsl(0deg 0% 0% / 60%));
        inset: 0;
        position: absolute;
    }

    ul {
        display: flex;
        gap: 0.4rem;

        i {
            color: var(--clr-gray-90);

            &.active {
                color: var(--secondary-color);
            }
        }
    }

    div {
        position: absolute;
        inset-inline-start: 8rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        width: 30rem;

        app-more-button {
            margin-block-start: 1rem;
        }
    }

    img {
        width: 100%;
        height: 100%;
    }
}
