<div class="banner">
    <div class="wrapper">
        <img src="assets/images/b1.webp" alt="مجموعه ای از عکس بازی‌های برتر" />
        <div>
            <h2>ASSASSINS CREED</h2>
            <span>تاریخ عرضه: سال 2007</span>
            <span>سبک : نقش آفرینی و اکشن</span>
            <span>محدودیت سنی: بالای 16 سال</span>
            <ul>
                <i class="fa-solid fa-star active"></i>
                <i class="fa-solid fa-star active"></i>
                <i class="fa-solid fa-star active"></i>
                <i class="fa-solid fa-star active"></i>
                <i class="fa-solid fa-star"></i>
            </ul>
            <app-more-button></app-more-button>
        </div>
    </div>
</div>
