.wrapper {
    display: flex;
    width: 100%;
    height: 20rem;
    justify-content: center;
    padding: 0 16%;
    gap: 3.75rem;
    font-size: 1rem;
    color: var(--primary-text-color);
}

.wrapper div {
    padding: 1.25rem 0;
}
.wrapper div h2,
p {
    padding: 1.3rem 0;
}

img {
    border-radius: 1.25rem;
    width: 50%;
    height: 100%;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05, 1.05);
}

a {
    position: absolute;
    margin: 0.625rem 0;
    padding: 0.8125rem;
    background-color: var(--primary-text-color);
    border-radius: 0.5rem;
    color: var(--secondary-section);
    cursor: pointer;
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.8;
}
