.result-message {
    color: var(--primary-text-color);

    width: 100%;

    padding: 0.8rem 0;

    border: 0.125rem solid transparent;
    border-radius: var(--border-radius-card);

    text-align: center;

    &.success {
        background-color: hsl(117deg 100% 40% / 20%);

        border-color: hsl(117deg 100% 40%);
    }

    &.error {
        background-color: hsl(0deg 100% 50% / 20%);

        border-color: hsl(0deg 100% 27%);
    }
}
