<app-header></app-header>
<div class="wrapper">
    <ng-container *ngIf="game && !isFetching; else loader">
        <div class="section">
            <div class="game__header">
                <div class="game__title">
                    <div class="game__title-right">
                        <h2>{{ game.name }}</h2>
                        <app-game-rating *ngIf="game.rating" [ratePoint]="game.rating"></app-game-rating>
                    </div>
                    <app-game-business [gameInfo]="game"></app-game-business>
                </div>
                <app-game-slider [items]="gameImages | sliderImageConverter"></app-game-slider>
            </div>

            <div class="game__description">
                <div class="game__summary">
                    <app-game-title *ngIf="game.summary" [title]="'About Game'" [description]="game.summary">
                    </app-game-title>
                    <app-game-title *ngIf="game.storyline" [title]="'Story'" [description]="game.storyline">
                    </app-game-title>
                </div>

                <div class="game__details" *ngIf="haveGameDetail()">
                    <app-game-detail *ngIf="game.genres" [list]="game.genres" title="Genres"></app-game-detail>
                    <app-game-detail *ngIf="game.keywords" [list]="game.keywords" title="Keywords"></app-game-detail>
                    <app-game-detail *ngIf="game.platforms" [list]="game.platforms" title="Platforms"></app-game-detail>
                    <app-game-detail *ngIf="game.gameModes" [list]="game.gameModes" title="gameModes"></app-game-detail>
                    <app-game-detail
                        *ngIf="game.playerPerspectives"
                        [list]="game.playerPerspectives"
                        title="Player Perspectives"
                    ></app-game-detail>
                    <app-game-detail *ngIf="game.themes" [list]="game.themes" title="Themes"></app-game-detail>
                </div>
            </div>
        </div>
        <div class="splitter"></div>
        <div class="game__relate">
            <app-primary-title [title]="'بازی های مرتبط'"></app-primary-title>
            <app-slider-section
                [queryParamsFilter]="{genres: extractID(game.genres)}"
                [cards]="relatedGames"
            ></app-slider-section>
        </div>
    </ng-container>
    <ng-template #loader></ng-template>
</div>
<app-footer></app-footer>
