.game-slider {
    position: relative;
    overflow: hidden;

    inline-size: 100%;
    height: 100%;

    ol {
        position: relative;

        display: flex;

        inline-size: 100%;

        margin: 0 auto;

        li {
            flex: 0 0 100%;

            overflow: hidden;

            inline-size: calc(100% - 2rem);
            aspect-ratio: 7 / 3;

            border-radius: var(--border-radius-card);

            transform: translateX(calc(var(--active-index) * 100%));

            transition: transform 400ms ease-in-out;

            img {
                block-size: 100%;
                inline-size: 100%;
                object-fit: cover;
            }
        }

        & .controls {
            button {
                background-color: hsl(0deg 0% 90% / 60%);
                opacity: 0.9;

                position: absolute;
                top: 50%;

                block-size: 5rem;
                inline-size: 3rem;

                border: 2px solid var(--clr-gray-20);
                border-radius: var(--border-radius-card);

                transform: translateY(-50%);

                transition: opacity 300ms ease;

                cursor: pointer;

                &.right {
                    right: 2rem;
                }

                &.left {
                    left: 2rem;
                }

                &:hover {
                    opacity: 1;
                }

                i {
                    color: var(--clr-gray-20);

                    font-size: 2rem;
                }
            }
        }
    }

    .game-bullet {
        display: flex;
        align-items: center;

        padding-top: 2rem;

        .slider {
            overflow-x: hidden;

            display: flex;
            flex-basis: 100%;
            gap: 0.75rem;

            padding-right: 1rem;

            &__image {
                flex: 0 0 calc((100% / 4) - 0.75rem);

                opacity: 0.4;

                overflow: hidden;

                border-radius: var(--border-radius-card);

                font-size: 0.6rem;

                cursor: pointer;

                &.active {
                    opacity: 1;
                }

                img {
                    aspect-ratio: 5/3;
                }
            }
        }

        button {
            background-color: transparent;
            color: var(--clr-gray-70);
            opacity: 0.8;

            block-size: 2rem;
            inline-size: 2rem;

            border: none;

            font-size: 1.6rem;

            transition: opacity 300ms ease;

            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }
}
