<app-slidebar
    [items]="slidebarImages"
></app-slidebar>
<app-container>
    <ng-template #loader>loading</ng-template>
    <app-section
        *ngIf="topSellerGames; else loader"
        primaryTitle="پرفروش‌ترین بازی‌ها"
        [titleDirection]="titleDirectionType.LEFT"
        placeComponent="right-out"
    >
        <app-slider-section [cards]="topSellerGames" [isReverse]="true"></app-slider-section>
    </app-section>
    <app-section [isSecondaryBackgroundColor]="true" placeComponent="full-width">
        <app-banner></app-banner>
    </app-section>
    <app-section
        *ngIf="topSellerGames; else loader"
        primaryTitle="پرطرفدارترین بازی‌ها"
        [titleDirection]="titleDirectionType.RIGHT"
        placeComponent="left-out"
    >
        <app-slider-section [cards]="mostPopularGames"></app-slider-section>
    </app-section>
    <app-section [isSecondaryBackgroundColor]="true" placeComponent="full-width">
        <app-banner></app-banner>
    </app-section>
    <app-section
        *ngIf="topSellerGames; else loader"
        primaryTitle="جدیدترین بازی‌ها"
        [titleDirection]="titleDirectionType.LEFT"
        placeComponent="right-out"
    >
        <app-slider-section [cards]="newestGames" [isReverse]="true"></app-slider-section>
    </app-section>
</app-container>
<app-container>
    <app-section *ngIf="games">
        <app-main-cards [cards]="games"></app-main-cards>
    </app-section>
</app-container>
