@import url("https://cdn.jsdelivr.net/gh/rastikerdar/shabnam-font@v5.0.1/dist/font-face.css");
*{
    box-sizing: border-box;
    padding: 0; margin: 0;
}
:root{
    --secondary-color: hsl(3, 86%, 58%);
    --primary-font: 'Shabnam', sans-serif;
    --nav-bg: hsla(0, 36%, 78%, 0.3);
}
body{
    background: linear-gradient(180deg, hsl(224, 54%, 15%) 0%, hsl(222, 100%, 2%) 100%);
    color: hsl(0, 0%, 100%);

}

body{
    font-family: var(--primary-font);
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.secondary-style{
    color: var(--secondary-color);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.section{
    padding: 4rem 0rem;
}
