<div class="card">
    <div class="card_img">
        <img src="assets/images/Witcher.webp" alt="بازی the witcher" />
        <div class="card_buttons">
            <div class="wrapper">
                <app-icon iconClass="fa-light fa-heart" bgColor="bgColorIcon"></app-icon>
                <app-icon iconClass="fa-light fa-cart-shopping" bgColor="bgColorIcon"></app-icon>
            </div>
        </div>
    </div>
    <div class="card_desc">
        <h2>the witcher</h2>
        <p><span>20000</span> تومان</p>
    </div>
</div>
