.card {
    background-color: var(--card-color);
    color: var(--clr-gray-80);

    position: relative;
    overflow: hidden;

    inline-size: 100%;

    border-radius: var(--border-radius-card);

    transition: transform 300ms ease;

    &:hover {
        transform: translateY(-0.2rem);

        &::before {
            opacity: 0.8;
        }

        .overlay {
            opacity: 1;
        }
    }

    &_img {
        position: relative;

        block-size: var(--img-height);

        border-top-right-radius: var(--border-radius-card);
        border-top-left-radius: var(--border-radius-card);

        img {
            block-size: 100%;

            transition: opacity ease 300ms;
        }
    }

    &_desc {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        padding: 0.75rem 1.25rem;

        h2 {
            align-self: flex-end;

            font-size: 1.1rem;
        }

        p {
            display: flex;
            align-items: center;
            gap: 0.4rem;

            span {
                color: var(--clr-icon-orange);

                font-weight: bold;
            }
        }
    }

    & .overlay {
        opacity: 0;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        inline-size: 100%;
        block-size: 100%;

        border-radius: var(--border-radius-card);

        transition: opacity 300ms ease;

        app-icon {
            align-self: start;

            transform: translate(-1rem, 1rem);
        }

        .more {
            background-color: transparent;
            color: var(--primary-text-color);

            border: none;

            font-size: 0.9rem;

            text-decoration: underline;

            cursor: pointer;
        }

        .buy {
            align-self: center;

            background-color: var(--secondary-color);
            opacity: 0.9;

            margin-block-end: 2rem;
            padding: 0.8rem 1.6rem;

            border: none;
            border-radius: var(--border-radius-card);

            font-size: 1.2rem;

            transition: opacity 300ms ease;

            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }

    &::before {
        content: "";

        background-color: var(--clr-gray-5);
        opacity: 0;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        inline-size: 100%;
        block-size: 100%;

        transition: opacity 300ms ease;
    }
}
