<div class="card">
    <div class="card_img">
        <img [src]="product.cover | sliderImageConverter" [alt]="product.name" />
    </div>
    <div class="card_desc">
        <h2>{{ product.name }}</h2>
        <p>
            <span>{{ product.price }}</span>
            <app-icon
                [iconClass]="IconType.PRICE"
                [iconColor]="IconColor.ORANGE"
                [haveBackgroundColor]="false"
            ></app-icon>
        </p>
        <ng-container *ngIf="product.isFavorite">added to your favorite list</ng-container>
    </div>
    <div class="overlay">
        <app-icon
            [iconClass]="IconType.WISH_LIST"
            [iconColor]="IconColor.ORANGE"
            (click)="addAndRemoveFavorite(product.id)"
        ></app-icon>
        <button class="more">مشاهده جزئیات</button>
        <button class="buy">خرید</button>
    </div>
</div>
