.card {
    cursor: pointer;
    background-color: var(--card-color);
    color: var(--clr-gray-80);
    overflow: hidden;
    inline-size: 100%;

    border-radius: var(--border-radius-card);

    transition: transform 300ms ease;

    &:hover {
        transform: translateY(-0.2rem);
        .card_img::before {
            opacity: 0.6;
        }

        .card_img {
            .overlay {
                opacity: 1;
            }
        }
    }

    &_img {
        position: relative;
        block-size: var(--img-height);

        border-top-right-radius: var(--border-radius-card);
        border-top-left-radius: var(--border-radius-card);

        img {
            block-size: 100%;
            inline-size: 100%;
            transition: opacity ease 300ms;
        }
        &.fade {
            .overlay {
                opacity: 0;
            }

            &::before {
                opacity: 0.2;
            }
        }
        &::before {
            content: "";

            background-color: var(--clr-gray-5);
            opacity: 0.5;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            block-size: 100%;
            inline-size: 100%;

            transition: opacity 300ms ease;
        }
    }

    &_desc {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        padding: 0.75rem 1.25rem;

        h2 {
            width: 100%;
            direction: ltr;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            align-self: flex-end;

            font-size: 1.1rem;
        }

        p {
            display: flex;
            align-items: center;
            gap: 0.4rem;

            span {
                color: var(--clr-icon-orange);

                font-weight: bold;
            }
        }
    }
    .buy {
        align-self: center;

        background-color: var(--secondary-color);
        opacity: 0.8;
        width: 100%;
        //margin-block-end: 2rem;
        padding: 0.8rem 1.6rem;

        border: none;
        border-bottom-left-radius: var(--border-radius-card);
        border-bottom-right-radius: var(--border-radius-card);

        font-size: 0.9rem;

        transition: opacity 300ms ease;

        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    & .overlay {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 2;
        border-radius: var(--border-radius-card);
        transition: opacity 300ms ease;
    }
}
