.card {
    border-radius: var(--border-radius-card);
    background-color: var(--card-color);
    overflow: hidden;
    width: 100%;
    box-shadow: 1.125rem 0.875rem 1.4375rem hsla(0, 0%, 0%, 0.25);
    &:hover {
        .card {
            &_img {
                img {
                    opacity: 0.5;
                }
            }
            &_buttons {
                opacity: 1;
            }
        }
    }
    &_img {
        border-top-left-radius: var(--border-radius-card);
        border-top-right-radius: var(--border-radius-card);
        position: relative;
        height: var(--img-height);
        img {
            transition: opacity ease 0.3s;
            height: 100%;
        }
    }
    &_buttons {
        position: absolute;
        display: grid;
        place-items: center;
        inset-block-top:0;
        inset-inline-start: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity ease 0.3s;
        .wrapper {
            display: flex;
            gap: 1rem;
        }
    }
    &_desc {
        padding: 0.75rem 1.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            span {
                font-weight: bold;
                color: var(--secondary-color);
            }
        }
    }
}
